{
  "openapi": "3.0.0",
  "info": {
    "title": "Vedic Rajkumar API",
    "version": "1.0.0",
    "description": "Public astrology engine API"
  },
  "servers": [
    {
      "url": "https://api.vedic-rajkumar.app"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (vk_live_… / vk_test_…)"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/v1/charts": {
      "post": {
        "summary": "Create a natal chart",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "time": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}(:\\d{2})?$"
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 120
                  }
                },
                "required": [
                  "date",
                  "time",
                  "latitude",
                  "longitude"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "lagna": {
                      "type": "object",
                      "properties": {
                        "sign": {
                          "type": "string"
                        },
                        "degree": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "sign",
                        "degree"
                      ]
                    },
                    "planets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "graha": {
                            "type": "string"
                          },
                          "sign": {
                            "type": "string"
                          },
                          "degree": {
                            "type": "number"
                          },
                          "nakshatra": {
                            "type": "string"
                          },
                          "pada": {
                            "type": "number"
                          },
                          "retrograde": {
                            "type": "boolean"
                          },
                          "house": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "graha",
                          "sign",
                          "degree",
                          "nakshatra",
                          "pada",
                          "retrograde",
                          "house"
                        ]
                      }
                    },
                    "houses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "house": {
                            "type": "number"
                          },
                          "sign": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "house",
                          "sign"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "lagna",
                    "planets",
                    "houses"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    }
  }
}